{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.gios.gov.pl/pjp-api","description":"Generated server url"}],"tags":[{"name":"Indeks jakości powietrza","description":"Usługa sieciowa udostępniająca indeks jakości powietrza na podstawie podanego identyfikatora stacji pomiarowej. "},{"name":"Wersja API","description":"Usługa sieciowa udostępniająca aktualną wersję API"},{"name":"Bieżące dane pomiarowe","description":"Usługa sieciowa udostępniająca dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego, od ostatniej pełnej godziny do trzeciej doby wstecz. Wyniki pomiarów udostępniane są w czasie lokalnym, tj. latem w czasie CEST (UTC+ 02:00, czas środkowoeuropejski letni), zimą w czasie CET (UTC+ 01:00, czas środkowoeuropejski zimowy)."},{"name":"Informacje o przekroczeniu","description":"Usługa sieciowa udostępniająca aktywne informacje o przekroczeniu poziomu informowania, alarmowego, dopuszczalnego i docelowego zanieczyszczeń z uwzględnieniem danych i parametrów."},{"name":"Metadane","description":"Usługa sieciowa udostępniająca metadane stacji pomiarowych: kod stacji, międzynarodowy kod stacji, nazwa stacji, stary kod stacji, data uruchomienia, data zamknięcia, typ stacji, typ obszaru, rodzaj stacji, województwo, miejscowość, ulica, współrzędne geograficzne (WGS84 φ N, WGS84 λ E) oraz metadane stanowisk pomiarowych: kod stanowiska, kod stacji, nazwa stacji, stary kod stacji, wskaźnik – kod, wskaźnik, czas uśredniania, typ pomiaru, data uruchomienia, data zamknięcia, województwo, nazwa strefy"},{"name":"Mapy rozkładów stężeń zanieczyszczeń","description":"Usługa sieciowa udostępniająca dane prezentowane na mapach rozkładów stężeń (https://powietrze.gios.gov.pl/pjp/maps/modeling) w formacie JSON-LD. Usługa zwraca do pobrania plik zgodnie z wybranym rokiem, typem wskaźnika i wskaźnikiem."},{"name":"Stacje pomiarowe i stanowiska pomiarowe","description":"Usługa sieciowa udostępniająca listę stanowisk pomiarowych i stacji  "},{"name":"Archiwalne dane pomiarowe","description":"Usługa sieciowa udostępniająca archiwalne dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego. Wyniki pomiarów jednogodzinnych udostępniane są zawsze w czasie CET (UTC+ 01:00, czas środkowoeuropejski zimowy)."},{"name":"Agregaty pomiarów","description":"Usługa sieciowa udostępniająca agregaty ze stanowisk automatycznych za 3 ostatnie doby w podziale na województwa i powiaty:\n1. Agregat Maksimum ze średnich 8-godzinnych z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10;\n2. Agregat Średnia 24-godzinna z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10"},{"name":"Statystyki roczne ","description":"Statystyki roczne od roku 2000 dla SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), formaldehyd, depozycja, wraz z ich parametrami"}],"paths":{"/version":{"get":{"tags":["Wersja API"],"description":"Usługa sieciowa udostępniająca aktualną wersję API","operationId":"getVersion","responses":{"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionDTO"}}}}}}},"/rest/statistics/getStatisticsForPollutants":{"get":{"tags":["Statystyki roczne "],"description":"Usługa sieciowa udostępniająca statystyki roczne od roku 2000 dla SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), formaldehyd, depozycja, wraz z ich parametrami\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/statistics/getStatisticsForPollutants.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/statistics/getStatisticsForPollutants?indicator=O3","operationId":"getStatistics","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Województwo. <br /> Dostępne atrybuty:    <br /> Województwo - parametr dla nazwy województwa<br /> ","required":false,"schema":{"type":"string"}},{"name":"indicator","in":"query","description":"SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), Formaldehyd, Depozycja","required":true,"schema":{"type":"string"}},{"name":"filter[wojewodztwo]","in":"query","description":"Województwo np. śląskie, kujawsko-pomorskie. Wartości parametrów należy oddzielać przecinkiem.","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/StatisticsLdDTO"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/statistics/getStatisticsForPollutants":{"get":{"tags":["Statystyki roczne "],"description":"Usługa sieciowa udostępniająca statystyki roczne od roku 2000 dla SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), formaldehyd, depozycja, wraz z ich parametrami\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/statistics/getStatisticsForPollutants.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/statistics/getStatisticsForPollutants?indicator=O3","operationId":"getStatistics_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Województwo. <br /> Dostępne atrybuty:    <br /> Województwo - parametr dla nazwy województwa<br /> ","required":false,"schema":{"type":"string"}},{"name":"indicator","in":"query","description":"SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), Formaldehyd, Depozycja","required":true,"schema":{"type":"string"}},{"name":"filter[wojewodztwo]","in":"query","description":"Województwo np. śląskie, kujawsko-pomorskie. Wartości parametrów należy oddzielać przecinkiem.","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/StatisticsLdDTO"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/station/sensors/{stationId}":{"get":{"tags":["Stacje pomiarowe i stanowiska pomiarowe"],"summary":"Pobierz listę czujników stacji pomiarowej","description":"Usługa sieciowa udostępniająca listę stanowisk pomiarowych dostępnych na wybranej stacji pomiarowej.\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/station/sensors/{stationId}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/station/sensors/52","operationId":"getAutomaticAndManualSensors","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwy atrybutu. Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny. Domyślne sortowanie odbywa się rosnąco po atrybucie Identyfikator stanowiska. Dostępne atrybuty: Id - parametr dla identyfikatora stanowiska","required":false,"schema":{"type":"string"}},{"name":"stationId","in":"path","description":"Identyfikator stacji pomiarowej np. 52. Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API 'Stacje pomiarowe i stanowiska pomiarowe'","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SensorLd"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/station/findAll":{"get":{"tags":["Stacje pomiarowe i stanowiska pomiarowe"],"summary":"Pobierz listę stacji pomiarowych","description":"Usługa sieciowa udostępniająca listę stacji pomiarowych\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/station/findAll.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/station/findAll","operationId":"getAutomaticAndManualStation","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Identyfikator stacji<br /> Dostępne atrybuty:    <br /> Id - parametr dla identyfikatora stacji,<br /> ","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/StationLd"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/metadata/stations":{"get":{"tags":["Metadane"],"description":"Usługa sieciowa udostępniająca metadane stacji pomiarowych: kod stacji, międzynarodowy kod stacji, nazwa stacji, stary kod stacji, data uruchomienia, data zamknięcia, typ stacji, typ obszaru, rodzaj stacji, województwo, miejscowość, ulica, współrzędne geograficzne (WGS84 φ N, WGS84 λ E)\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/metadata/stations.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/metadata/stations","operationId":"getStationMetadata","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Kod stacji <br /> Dostępne atrybuty:    <br /> Kod - parametr dla Kodu stacji","required":false,"schema":{"type":"string"}},{"name":"filter[miejscowosc]","in":"query","description":"Miejscowość np. Białka,Bielawa,Bogatynia,Brzeg Głogowski,Czarna Góra,Duszniki-Zdrój,Dzierżoniów . W przypadku wyboru dwóch należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}},{"name":"filter[kod-stacji]","in":"query","description":"Kod stacji np. DsBialka, DsBielGrot, DsBogChop, DsBoleslaMOB. W przypadku wyboru kilku kodów stacji należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/StationMetaDataLdDTO"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/metadata/stations":{"get":{"tags":["Metadane"],"description":"Usługa sieciowa udostępniająca metadane stacji pomiarowych: kod stacji, międzynarodowy kod stacji, nazwa stacji, stary kod stacji, data uruchomienia, data zamknięcia, typ stacji, typ obszaru, rodzaj stacji, województwo, miejscowość, ulica, współrzędne geograficzne (WGS84 φ N, WGS84 λ E)\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/metadata/stations.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/metadata/stations","operationId":"getStationMetadata_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Kod stacji <br /> Dostępne atrybuty:    <br /> Kod - parametr dla Kodu stacji","required":false,"schema":{"type":"string"}},{"name":"filter[miejscowosc]","in":"query","description":"Miejscowość np. Białka,Bielawa,Bogatynia,Brzeg Głogowski,Czarna Góra,Duszniki-Zdrój,Dzierżoniów . W przypadku wyboru dwóch należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}},{"name":"filter[kod-stacji]","in":"query","description":"Kod stacji np. DsBialka, DsBielGrot, DsBogChop, DsBoleslaMOB. W przypadku wyboru kilku kodów stacji należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/StationMetaDataLdDTO"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/metadata/sensors":{"get":{"tags":["Metadane"],"description":"Usługa sieciowa udostępniająca metadane stanowisk pomiarowych: kod stanowiska, kod stacji, nazwa stacji, stary kod stacji, wskaźnik – kod, wskaźnik, czas uśredniania, typ pomiaru, data uruchomienia, data zamknięcia, województwo, nazwa strefy\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/metadata/sensors.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/metadata/sensors","operationId":"getSensorsMetadata","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Kod stacji <br /> Dostępne atrybuty:    <br /> Kod - parametr dla Kodu stacji","required":false,"schema":{"type":"string"}},{"name":"filter[typ-pomiaru]","in":"query","description":"Typ pomiaru: automatyczny lub manualny. W przypadku wyboru dwóch należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}},{"name":"filter[kod-stacji]","in":"query","description":"Kod stacji np. DsBialka, DsBielGrot, DsBogChop, DsBoleslaMOB. W przypadku wyboru kilku kodów stacji należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SensorMetaDataLdDTO"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/metadata/sensors":{"get":{"tags":["Metadane"],"description":"Usługa sieciowa udostępniająca metadane stanowisk pomiarowych: kod stanowiska, kod stacji, nazwa stacji, stary kod stacji, wskaźnik – kod, wskaźnik, czas uśredniania, typ pomiaru, data uruchomienia, data zamknięcia, województwo, nazwa strefy\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/metadata/sensors.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/metadata/sensors","operationId":"getSensorsMetadata_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  <br /> Domyślne sortowanie odbywa się rosnąco po atrybucie Kod stacji <br /> Dostępne atrybuty:    <br /> Kod - parametr dla Kodu stacji","required":false,"schema":{"type":"string"}},{"name":"filter[typ-pomiaru]","in":"query","description":"Typ pomiaru: automatyczny lub manualny. W przypadku wyboru dwóch należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}},{"name":"filter[kod-stacji]","in":"query","description":"Kod stacji np. DsBialka, DsBielGrot, DsBogChop, DsBoleslaMOB. W przypadku wyboru kilku kodów stacji należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SensorMetaDataLdDTO"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/levels/getWarnings":{"get":{"tags":["Informacje o przekroczeniu"],"operationId":"getWarnings","responses":{"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlarmLevelDTO"}}}}}}}},"/rest/levels/getWarnings":{"get":{"tags":["Informacje o przekroczeniu"],"operationId":"getWarnings_1","responses":{"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlarmLevelDTO"}}}}}}}},"/rest/levels/getPermissible":{"get":{"tags":["Informacje o przekroczeniu"],"operationId":"getPermissible","responses":{"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlarmLevelDTO"}}}}}}}},"/v1/rest/levels/getPermissible":{"get":{"tags":["Informacje o przekroczeniu"],"operationId":"getPermissible_1","responses":{"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlarmLevelDTO"}}}}}}}},"/v1/rest/levels/getInformationAboutExceeding":{"get":{"tags":["Informacje o przekroczeniu"],"summary":"Pobierz informacje o przekroczeniach","description":"Usługa sieciowa udostępniająca aktywne informacje o przekroczeniu poziomu informowania, alarmowego, dopuszczalnego i docelowego zanieczyszczeń \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding","operationId":"getInformationAboutExceeding","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny. Domyśle sortowanie odbywa się malejąco po  parametrze Data i godzina.<br /> Dostępne atrybuty:    <br /> Województwo - parametr dla nazwy województwa.<br />Data - parametr dla Data i godzina","required":false,"schema":{"type":"string"}},{"name":"filter[wojewodztwo]","in":"query","description":"Województwo np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE. W przypadku wyboru kilku województw należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ExceedingLdDTO"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/levels/getInformationAboutExceeding":{"get":{"tags":["Informacje o przekroczeniu"],"summary":"Pobierz informacje o przekroczeniach","description":"Usługa sieciowa udostępniająca aktywne informacje o przekroczeniu poziomu informowania, alarmowego, dopuszczalnego i docelowego zanieczyszczeń \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding","operationId":"getInformationAboutExceeding_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny. Domyśle sortowanie odbywa się malejąco po  parametrze Data i godzina.<br /> Dostępne atrybuty:    <br /> Województwo - parametr dla nazwy województwa.<br />Data - parametr dla Data i godzina","required":false,"schema":{"type":"string"}},{"name":"filter[wojewodztwo]","in":"query","description":"Województwo np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE. W przypadku wyboru kilku województw należy oddzielić je znakiem przecinka (,)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ExceedingLdDTO"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/data/getData/{idSensor}":{"get":{"tags":["Bieżące dane pomiarowe"],"summary":"Usługa sieciowa udostępniająca dane pomiarowe w formacie JSON-LD.","description":"Usługa sieciowa udostępniająca dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego typu automatycznego. Dla stanowiska typu manualnego wyniki pomiarów nie są dostępne na bieżąco, są one udostępniane po 4-8 tygodniach od poboru próby przez usługę API „Archiwalne dane pomiarowe”\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/data/getData/{idSensor}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/data/getData/52","operationId":"getData","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu. Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny.\nDomyślne sortowanie odbywa się malejąco po atrybucie Data.\nDostępne atrybuty:\nData - parametr dla daty,","required":false,"schema":{"type":"string"}},{"name":"idSensor","in":"path","description":"Identyfikator stanowiska np. 52\nLista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe”","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/CurrentDataDTO"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/concentration/getDistributionsOfConcentrationsMap":{"get":{"tags":["Mapy rozkładów stężeń zanieczyszczeń"],"description":"Usługa sieciowa udostępniająca dane prezentowane na mapach rozkładów stężeń z wybranego roku kalendarzowego, dla wybranego zanieczyszczenia, w podziale na kryterium ochrony zdrowia i ochrony roślin.\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca plik do pobrania, zawierający dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap?year=2020&indicatorType=OZ&indicator=PM10_sr_roczna","operationId":"getDistributionsOfConcentrationsMap","parameters":[{"name":"year","in":"query","description":"Rok - dostępne są dane od 2019 roku","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"indicatorType","in":"query","description":"Typ wskaźnika: OZ - Ochrona zdrowia, OR - Ochrona roślin","required":true,"schema":{"type":"string"}},{"name":"indicator","in":"query","description":"Wskaźnik ochrona zdrowia (OZ): PM10_sr_roczna, PM25_sr_roczna, NO2_sr_roczna, O3_3letnia, BaP_sr_roczna, SO2_25h_max, PM10_36_max, NO2_19h_max, SO2_4_max </br>Wskaźnik ochrona roślin (OR): SO2_sr_roczna, NOx_sr_roczna, O3_5letnia","required":true,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ConcentrationDistributionsDTO"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/concentration/getDistributionsOfConcentrationsMap":{"get":{"tags":["Mapy rozkładów stężeń zanieczyszczeń"],"description":"Usługa sieciowa udostępniająca dane prezentowane na mapach rozkładów stężeń z wybranego roku kalendarzowego, dla wybranego zanieczyszczenia, w podziale na kryterium ochrony zdrowia i ochrony roślin.\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca plik do pobrania, zawierający dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap?year=2020&indicatorType=OZ&indicator=PM10_sr_roczna","operationId":"getDistributionsOfConcentrationsMap_1","parameters":[{"name":"year","in":"query","description":"Rok - dostępne są dane od 2019 roku","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"indicatorType","in":"query","description":"Typ wskaźnika: OZ - Ochrona zdrowia, OR - Ochrona roślin","required":true,"schema":{"type":"string"}},{"name":"indicator","in":"query","description":"Wskaźnik ochrona zdrowia (OZ): PM10_sr_roczna, PM25_sr_roczna, NO2_sr_roczna, O3_3letnia, BaP_sr_roczna, SO2_25h_max, PM10_36_max, NO2_19h_max, SO2_4_max </br>Wskaźnik ochrona roślin (OR): SO2_sr_roczna, NOx_sr_roczna, O3_5letnia","required":true,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ConcentrationDistributionsDTO"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship":{"get":{"tags":["Archiwalne dane pomiarowe"],"description":"Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych z wybranego roku kalendarzowego (również trwającego), dla wybranego zanieczyszczenia lub wszystkich łącznie, ze wszystkich stacji w wybranym województwie\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship?year=2021&voivodeship=ŚLĄSKIE","operationId":"getDataForAllStationsByYearAndVoivodeship","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. <br />Domyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. <br /> Dostępne atrybuty:    <br /> Data - parametr dla daty, <br />Kod - parametr dla kodu stanowiska ","required":false,"schema":{"type":"string"}},{"name":"year","in":"query","description":"Rok, np. 2020.","required":true,"schema":{"type":"string"}},{"name":"voivodeship","in":"query","description":"Województwo, np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE.","required":true,"schema":{"type":"string"}},{"name":"pollution","in":"query","description":"Dostępne zanieczyszczenia: 123trimetylobenzen, 124trimetylobenzen, 135trimetylobenzen, 13butadien, 1buten, 1penten, 2penten, As(PM10), As(cdepoz), BaA(PM10), BaA(cdepoz), BaP(PM10), BaP(cdepoz), BbF(PM10), BbF(cdepoz), BjF(PM10), BjF(cdepoz), BkF(PM10),\nBkF(cdepoz), C6H6, CO, Ca2+(PM2.5), Cd(PM10), Cd(cdepoz), Cl_(PM2.5), Cr(PM10), Cu(PM10), DBahA(PM10), DBahA(cdepoz), EC(PM2.5), HCl,\nHg(TGM), Hg(cdepoz), IP(PM10), IP(cdepoz), K+(PM2.5), Mg2+(PM2.5), NH3, NH4+(PM2.5), NO, NO2, NO3_(PM2.5), NOx,Na+(PM2.5), Ni(PM10),\nNi(cdepoz), O3,OC(PM2.5), PM10, PM2.5, Pb(PM10), SO2, SO42_(PM2.5), acetylen, cis2buten, etan, etylen, etylobenzen, formaldehyd, ibutan, iheksan, ioktan, ipentan, izopren, ksylen, mpksylen, nbutan, nheksan, nheptan, noktan, npentan, oksylen, propan, propen, toluen, trans2buten","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ArchivalDataDto"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/archivalData/getDataForAllStationsByYearAndVoivodeship":{"get":{"tags":["Archiwalne dane pomiarowe"],"description":"Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych z wybranego roku kalendarzowego (również trwającego), dla wybranego zanieczyszczenia lub wszystkich łącznie, ze wszystkich stacji w wybranym województwie\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship?year=2021&voivodeship=ŚLĄSKIE","operationId":"getDataForAllStationsByYearAndVoivodeship_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. <br />Domyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. <br /> Dostępne atrybuty:    <br /> Data - parametr dla daty, <br />Kod - parametr dla kodu stanowiska ","required":false,"schema":{"type":"string"}},{"name":"year","in":"query","description":"Rok, np. 2020.","required":true,"schema":{"type":"string"}},{"name":"voivodeship","in":"query","description":"Województwo, np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE.","required":true,"schema":{"type":"string"}},{"name":"pollution","in":"query","description":"Dostępne zanieczyszczenia: 123trimetylobenzen, 124trimetylobenzen, 135trimetylobenzen, 13butadien, 1buten, 1penten, 2penten, As(PM10), As(cdepoz), BaA(PM10), BaA(cdepoz), BaP(PM10), BaP(cdepoz), BbF(PM10), BbF(cdepoz), BjF(PM10), BjF(cdepoz), BkF(PM10),\nBkF(cdepoz), C6H6, CO, Ca2+(PM2.5), Cd(PM10), Cd(cdepoz), Cl_(PM2.5), Cr(PM10), Cu(PM10), DBahA(PM10), DBahA(cdepoz), EC(PM2.5), HCl,\nHg(TGM), Hg(cdepoz), IP(PM10), IP(cdepoz), K+(PM2.5), Mg2+(PM2.5), NH3, NH4+(PM2.5), NO, NO2, NO3_(PM2.5), NOx,Na+(PM2.5), Ni(PM10),\nNi(cdepoz), O3,OC(PM2.5), PM10, PM2.5, Pb(PM10), SO2, SO42_(PM2.5), acetylen, cis2buten, etan, etylen, etylobenzen, formaldehyd, ibutan, iheksan, ioktan, ipentan, izopren, ksylen, mpksylen, nbutan, nheksan, nheptan, noktan, npentan, oksylen, propan, propen, toluen, trans2buten","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ArchivalDataDto"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/archivalData/getDataForAllStations":{"get":{"tags":["Archiwalne dane pomiarowe"],"description":"Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych ze wszystkich stacji w kraju dla dowolnego wybranego okresu czasu (max. 31 dni). Należy wybrać zakres czasu: Data od i Data do lub Liczba dni wstecz od \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations?dayNumber=2","operationId":"getArchivalDataForAllStations","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. <br />Domyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. <br /> Dostępne atrybuty:    <br /> Data - parametr dla daty, <br />Kod - parametr dla kodu stanowiska ","required":false,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Data od:\nnależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-23 15:00","required":false,"schema":{"type":"string"}},{"name":"dateTo","in":"query","description":"Data do:\nnależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-25 11:00","required":false,"schema":{"type":"string"}},{"name":"dayNumber","in":"query","description":"Liczba dni wstecz od dnia dzisiejszego np. 5 (dzień rozumiany jako 24 godziny wstecz od wywołania usługi)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ArchivalDataDto"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/v1/rest/archivalData/getDataForAllStations":{"get":{"tags":["Archiwalne dane pomiarowe"],"description":"Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych ze wszystkich stacji w kraju dla dowolnego wybranego okresu czasu (max. 31 dni). Należy wybrać zakres czasu: Data od i Data do lub Liczba dni wstecz od \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations?dayNumber=2","operationId":"getArchivalDataForAllStations_1","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. <br />Domyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. <br /> Dostępne atrybuty:    <br /> Data - parametr dla daty, <br />Kod - parametr dla kodu stanowiska ","required":false,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Data od:\nnależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-23 15:00","required":false,"schema":{"type":"string"}},{"name":"dateTo","in":"query","description":"Data do:\nnależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-25 11:00","required":false,"schema":{"type":"string"}},{"name":"dayNumber","in":"query","description":"Liczba dni wstecz od dnia dzisiejszego np. 5 (dzień rozumiany jako 24 godziny wstecz od wywołania usługi)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ArchivalDataDto"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny błąd serwera","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"502":{"description":"Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"304":{"description":"Nie modyfikowano od czasu wskazanego w zapytaniu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"406":{"description":"Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"403":{"description":"Dostęp zabroniony","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"409":{"description":"Konflikt","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"405":{"description":"Nieodpowiednia metoda","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}}}}},"/rest/archivalData/getDataBySensor/{idSensor}":{"get":{"tags":["Archiwalne dane pomiarowe"],"description":"Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych na podstawie podanego identyfikatora stanowiska pomiarowego dla dowolnego wybranego okresu czasu (max. 366 dni). Należy podać identyfikator stanowiska oraz wybrać zakres czasu: Data od i Data do lub Liczba dni wstecz od \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataBySensor/{idSensor}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https:///api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataBySensor/52?dayNumber=3","operationId":"getArchivalDataBySensor","parameters":[{"name":"page","in":"query","description":"Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik. Numer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Parametr mechanizmu stronicowania określający ilość wyników na stronie. Jest to dodatnia liczba całkowita podawana z kluczem parametru. Domyślna wartość → 20, Maksymalna wartość → 500.","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. <br />Domyślne sortowanie odbywa się malejąco po atrybucie Data. <br /> Dostępne atrybuty:    <br /> Data - parametr dla daty <br /> ","required":false,"schema":{"type":"string"}},{"name":"idSensor","in":"path","description":"Identyfikator stanowiska np. 52                <br/> Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe” ","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"dateFrom","in":"query","description":"Data od:                                             <br />- dla stanowisk automatycznych (wyniki jednogodzinne ) należy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-23 15:00  <br /> - dla stanowisk manualnych (wyniki średniodobowe) należy określić datę uwzględniając dni zgodnie z przykładem: 2022-02-23 00:00 ","required":false,"schema":{"type":"string"}},{"name":"dateTo","in":"query","description":"Data do:                                                                   <br />- dla stanowisk automatycznych (wyniki jednogodzinne ) należy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-25 11:00  <br />- dla stanowisk manualnych (wyniki średniodobowe) należy określić datę uwzględniając dni zgodnie z przykładem: 2022-02-25 00:00","required":false,"schema":{"type":"string"}},{"name":"dayNumber","in":"query","description":"Liczba dni wstecz od dnia dzisiejszego np. 5 (dzień rozumiany jako 24 godziny wstecz od wywołania usługi)","required":false,"schema":{"type":"string"}}],"responses":{"429":{"description":"Zbyt wiele zapytań w jednostce czasu","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"404":{"description":"Nie znaleziono","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"503":{"description":"Usługa czasowo niedostępna.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"301":{"description":"Przeniesiono na stałe","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"204":{"description":"Brak zawartości","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"401":{"description":"Brak autoryzacji","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"504":{"description":"Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"410":{"description":"Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"422":{"description":"Zapytanie niepoprawne semantycznie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"400":{"description":"Błędne żądanie","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ArchivalDataDto"}}}},"303":{"description":"Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"201":{"description":"Utworzono nowy zasób","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"202":{"description":"Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/DataException"}}}},"500":{"description":"Wewnętrzny bł
[...]
